
*.Rhistory
*.Rdata
*.rds
*.RDS
*.png
*.tif
*.csv
*.pdf
*.doc
*.docx
*.txt
*.dbf
*.prj
*.shp
*.shx
Presentations/
Data/
text_documents/
archive_code/
Analysis/Saskatchewan_BBA/Code/archive/
Analysis/Ontario_BBA/Code/archive/
Analysis/Ontario_BBA/R/archive/
Analysis/testing/
