
*.Rhistory
*.Rdata
*.rds
*.RDS
*.png
*.tif
*.csv
*.pdf
*.doc
*.docx
*.txt
*.dbf
*.prj
*.shp
*.shx
Presentations/
Data/
text_documents/
archive_code/
Analysis/Saskatchewan_BBA/Code/archive/
Analysis/Ontario_BBA/Code/archive/
Analysis/Ontario_BBA/R/archive/
Analysis/Ontario_BBA/R/functions/archive/
Analysis/testing/
.Rproj.user
Analysis/Ontario_BBA/R/supplementary_analysis/latent_bbs_atlas_regression.exe
Analysis/Ontario_BBA/R/supplementary_analysis/latent_bbs_atlas_regression.stan
Analysis/BAMv5/R/atlas_vs_bbs.exe
Analysis/BAMv5/R/atlas_vs_bbs.stan
